.hbox {
	-fx-alignment: center-left;
	-fx-fill-height: true;
}

.vbox {
	-fx-fill-width: true;
	-fx-spacing: 20;
	-fx-padding: 10,0,10,0;
}

.border-pane {
	-fx-padding: 15;
}

.text-area {
	-fx-pref-row-count: 100;
	-fx-wrap-text: true;
}

.hbox > .button, .vbox > .button {
	-fx-background-color: 
        #000000,
        linear-gradient(#38424b 0%, #8b0000 20%, #191d22 100%),
        linear-gradient(#20b2aa, #1e90ff),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: black;
    -fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-alignment: bottom-center;
	-fx-text-alignment: center;
}

.hbox > .button:hover, .vbox > .button:hover {
	-fx-effect: dropshadow(gaussian, rgba(0,0,10,0.65), 1,1,1,1);
}

.label {
	-fx-font-size: 15 em;
	-fx-font-weight: bold;
}

.deletebutton {
	-fx-background-color: 
        #000000,
        linear-gradient(#38424b 0%, #8b0000 20%, #191d22 100%),
        linear-gradient(#a52a2a, #8b4513),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: black;
    -fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-alignment: bottom-center;
	-fx-text-alignment: center;
}

.deletebutton:hover {
	-fx-effect: dropshadow(gaussian, rgba(0,0,10,0.65), 1,1,1,1);
}